.cat-image-card {
  position: relative;

  .cat-image {
    max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 7 / 6;
  }
  .cat-footer {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    .cat-title {
      text-align: center;
      margin: 0;
    }

      
    .likes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin-top: 10px;
      }
    }
  }
}
