.cat-image-card {
  position: relative;
  .cat-image {
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 300px;
    max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  .cat-footer {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    p {
      align-self: center;
    }
    .likes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin-top: 10px;
      }
    }
  }
}
